# OOPS

- In Python, **polymorphism** is a fundamental concept in object-oriented programming (OOP) that allows objects of different classes to be treated as objects of a common superclass. 
- It enables you to use a single interface to represent different types of objects, and it's a key feature that promotes code flexibility, reusability, and abstraction

### Method Overriding

- Method overriding allows a subclass to provide a specific implementation for a method that is already defined in its superclass.
- When a method is called on an object of the subclass, the overridden method in the subclass is executed instead of the method in the superclass. 
- This allows different classes to have their unique behavior for the same method name.

In [1]:
class Animal:
    def make_sound(self):
        print("Generic animal sound")

class Cat(Animal):
    def make_sound(self):
        print("Meow")

class Dog(Animal):
    def make_sound(self):
        print("Woof")

cat = Cat()
dog = Dog()

cat.make_sound()  
dog.make_sound()

Meow
Woof

In [7]:
import math

class Shape:
    def area(self):
        return "area cannot be calculated"

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

class Triangle(Shape):
    def __init__(self, base, height):
        self.base = base
        self.height = height

    def area(self):
        return 0.5 * self.base * self.height

In [8]:
c1 = Circle(3)
c1.area()

28.274333882308138

In [6]:
math.pi*3*3

28.274333882308138

In [2]:
shapes = [Circle(3), Rectangle(4, 5), Triangle(6, 2)]

for shape in shapes:
    print(f"Area: {shape.area()}")

Area: 28.274333882308138
Area: 20
Area: 6.0

## Method Overloading

- Method overloading allows a single method name to be used for multiple methods that differ in the number or types of their parameters. 
- Python does not support traditional method overloading like some other languages, but it can be simulated using default parameter values and/or variable-length arguments.

In [9]:
class MathOperations:
    def add(self, a, b):
        return a + b

    def add(self, a, b, c):
        return a + b + c

In [10]:
math_ops = MathOperations()

In [11]:
math_ops

In [12]:
print(math_ops.add(2, 3))

TypeError: add() missing 1 required positional argument: 'c'

In [13]:
print(math_ops.add(2, 3, 5))

10

## Polymorphism with inbuilt functions

In [15]:
# len() function
print(len("hello"))     # Output: 5
print(len([1, 2, 3]))    # Output: 3
print(len({"a": 1, "b": 2}))  # Output: 2

5
3
2

In [16]:
# str() function
str(10)          # Output: "10"

'10'

In [18]:
str([1, 2, 3])   # Output: "[1, 2, 3]"

'[1, 2, 3]'

In [20]:
str({"a": 1, "b": 2}) # Output: "{'a': 1, 'b': 2}"

"{'a': 1, 'b': 2}"

# Polymorphism in Data Science

- In data science, polymorphism may not be as commonly used as in object-oriented programming, but some aspects of polymorphism can be observed in certain contexts.
- Data analysis often involves working with various data types and structures, and the ability to apply operations or functions uniformly across different data formats can be considered a form of polymorphism.

**Operations on Different Data Types:**
- In data science, you may perform operations on different data types like numbers, strings, lists, arrays, or DataFrames.
- Functions or operations that can handle multiple data types and provide consistent results regardless of the input type can be seen as polymorphic.

In [21]:
# Polymorphic behavior with addition operation
result1 = 2 + 3           # (integers)
result2 = "Hello, " + "world!"   #  (strings)
result3 = [1, 2, 3] + [4, 5, 6]  # (lists)

In [22]:
print(result1)
print(result2)
print(result3)

5
Hello, world!
[1, 2, 3, 4, 5, 6]

**Aggregation Functions:**
- Aggregation functions like sum(), mean(), max(), etc., can be applied to different data structures such as lists, arrays, or DataFrames.
- These functions demonstrate polymorphic behavior as they can operate on various data types and produce meaningful results.

In [13]:
import numpy as np

# Polymorphic behavior with aggregation functions
numbers = [1, 2, 3, 4, 5]
result1 = sum(numbers)        #  (list)
result2 = np.mean(numbers)    # (numpy array)

In [14]:
print(result1)
print(result2)

15
3.0

**Handling Missing Data:**
- When dealing with datasets, it's common to encounter missing data. 
- Polymorphic behavior can be observed when functions or methods handle missing data gracefully, regardless of the data structure.

In [23]:
import pandas as pd

# Polymorphic behavior in handling missing data
data = {'A': [1, 2, None, 4],
        'B': [5, None, 7, 8]}
df = pd.DataFrame(data)

In [24]:
df

     A    B
0  1.0  5.0
1  2.0  NaN
2  NaN  7.0
3  4.0  8.0

In [25]:
result1 = df.mean()   # Output: Calculates mean for each column, ignoring missing values
result2 = df.sum()    # Output: Calculates sum for each column, treating missing values as zero

In [26]:
result1

A    2.333333
B    6.666667
dtype: float64

In [27]:
result2

A     7.0
B    20.0
dtype: float64

**Function Application to Columns or Rows:**
- In data analysis libraries like pandas, you can apply functions to columns or rows of a DataFrame.
- The function applied may vary depending on the data type of each column, and this can be considered a form of polymorphism

In [28]:
import pandas as pd

# Polymorphic behavior with function application in pandas
data = {'A': [1, 2, 3, 4],
        'B': ['apple', 'banana', 'cherry', 'date']}
df = pd.DataFrame(data)

In [31]:
df

   A       B
0  1   apple
1  2  banana
2  3  cherry
3  4    date

In [32]:
# Apply different functions to different columns
result1 = df['A'].mean()       # Output: 2.5 (mean of integers)
result2 = df['B'].str.upper()  # Output: ['APPLE', 'BANANA', 'CHERRY', 'DATE'] (uppercase strings)

In [33]:
result1

2.5

In [34]:
result2

0     APPLE
1    BANANA
2    CHERRY
3      DATE
Name: B, dtype: object