In [1]:
a= 3

In [2]:
type(3)

int

In [3]:
b = 3.0

In [4]:
type(b)

float

In [5]:
c = "3"

In [6]:
type(c)

str

In [7]:
d = "3.0"

In [8]:
type(d)

str

In [ ]:
set, dict, list, tuple

In [9]:
sets = {2,3,2,34,234,5,6}

In [10]:
type(sets)

set

In [11]:
dictionary = {"name":['Aman','Arun'], 
             "Place": ['goa', 'Mumbai']}

In [12]:
type(dictionary)

dict

In [13]:
p = [2,3,4,5,6,7]

In [14]:
type(p)

list

In [15]:
q = (1,2,3,4,5,6)

In [16]:
type(q)

tuple

In [ ]:
Hackerrank.com ===> register yourself as a developer
python

- String formatting in Python allows you to create formatted strings by inserting values into a placeholder within a string.
- There are multiple ways to achieve string formatting in Python.

- Here are some common methods:

### Using % Operator (Old Style Formatting):

- The % operator is the older method of string formatting in Python. 
- It uses placeholders with % followed by format specifiers to indicate the type of values to be inserted into the string.

In [18]:
name = "John"
age = 30
name_2 = "Rohit"
age_2 = 20
formatted_string = "My name is %s, and I am %d years old." % (name, age)
print(formatted_string)

My name is John, and I am 30 years old.

In [19]:
"My name is %s, and I am %d years old." % (name_2, age_2)

'My name is Rohit, and I am 20 years old.'

In [20]:
name_3 = "George"
name_4 = "Paul"

In [21]:
"My first name is %s and my last name is %s"%(name_3, name_4)

'My first name is George and my last name is Paul'

### Using .format() Method (New Style Formatting):

In [2]:
name = "John"
age = 30
formatted_string = "My name is {}, and I am {} years old.".format(name, age)
print(formatted_string)

My name is John, and I am 30 years old.

**You can also place the positional placeholders for more clarity**

In [22]:
name = "John"
age = 30
formatted_string = "My name is {0}, and I am {1} years old. Hi {0}!".format(name, age)
print(formatted_string)

My name is John, and I am 30 years old. Hi John!

### Using f-strings (Python 3.6+):

- f-strings are an even more convenient and readable method of string formatting introduced in Python 3.6. 
- They allow you to directly embed expressions inside curly braces {} within the string.

In [23]:
name = "John"
age = 30
formatted_string = f"My name is {name}, and I am {age} years old."
print(formatted_string)

My name is John, and I am 30 years old.

In [24]:
print(f"my name is {name} and I am {age} years old")

my name is John and I am 30 years old

In [25]:
def sum_all(a,b,c):
    add = a+b+c
    print(f"the number are a : {a}, b: {b} and c : {c} and the sum of the numbers is {add}")

In [26]:
sum_all(2,3,4)

the number are a : 2, b: 3 and c : 4 and the sum of the numbers is 9